@model SquadManager.Models.UserViewModel

@{
    Layout = null;
}
<section>
    <input type="text" name="email" value="" />
    <input type="password" name="password" value="" />
    <a href="">Esqueceu a senha?</a>

    <button>Login</button>

    <label>Não tem conta?</label><a href="">Crie aqui.</a>
</section>